html {
    --dark-text-color: rgb(0, 192, 0);
    --text-color: lime;
    --background-color: rgb(15, 15, 15);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}
.ui {
    position: absolute;
    left: 1em;
    top: 1em;
}
.heading {
    justify-content: center;
    margin-bottom: 3em;
}
.content {
    justify-content: center;
    align-items: center;
}
.image-container {
    padding: 1em;
    border: solid 2px green;
}
#puppy-image {
    cursor: url("../assets/paw.png"), pointer;
}

.changelog {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: monospace;
}
.changelog ul {
    list-style-type: "– ";
    border-left: solid green 2px;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.changelog li {
    padding-top: .1em;
    padding-bottom: .1em;
}
.date {
    color: var(--dark-text-color);
    margin-bottom: 0em;
    border-bottom: solid green 2px;
    padding-bottom: .5em;
    padding-right: 2em;
    padding-left: 1em;
}